<h2>About Us</h2>

<p>
  Dan and Dave's Digs started as a coding project for epicodus coding school.  We quickly realized people we growing impatient and tired with airBnB and wanted a better tool for managing their vacation rentals.  We knew we could make such a tool...
</p>


{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
