<p>Dan and Dave Digs Representatives would love to help you choose a destination or answer any burning questions you may have.</p>

<p>Contact us today!</p>

<p>
  Dan and Dave's Digs Headquarters<br>
  1212 Test Address Avenue<br>
  TestyMcTestington, OR 97233
</p>

<p>(503) 555-1212</p>

<p>dandavedigs@digs.com</p>
