<h1> Welcome to Dan and Dave's Digs </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as |rental|}}
    <div class="panel panel-info">
      {{rental-tile rental=rental}}

    </div>
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}

{{#link-to 'announcements'}}Announcements{{/link-to}}
